.a1{
	
}

.a2{
	
}

.b1{
	
}

.p{
color: #CD35D3;
}

.i2{
color: #FF8540;
}

.m1{
color: #4573D5;
}

.d1{
color: #F13C73;
}

.i1{
color: #A67100;
}

.i3{
color: #A67100;
}

.s1{
color: #68006C;
}